# Dependencias de Node
node_modules/

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Entornos/variables (si en el futuro agregas .env)
.env
.env.*
!.env.example